#################################################
# Database
#################################################

# PostgreSQL JDBC URL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/phoenix

# PostgreSQL connection username
SPRING_DATASOURCE_USERNAME=your_database_username_here

# PostgreSQL connection password
SPRING_DATASOURCE_PASSWORD=your_database_password_here

#################################################
# Authentication & Security
#################################################

# Base64-encoded secret key used to sign and verify JWT authentication tokens
JWT_SECRET_KEY=your_base64_encoded_secret_here

# Allowed CORS client origin URL
# CORS_ALLOWED_ORIGINS=http://localhost:5173  # OBSOLETE

#################################################
# AI Engine & Local Storage
#################################################

# Endpoint URL for the FastAPI AI Engine
PYTHON_AI_ENGINE_URL=http://localhost:8000

# Filesystem path to store physical uploaded PDF specifications
UPLOAD_DIR=storage
